body {
  box-sizing: border-box;
}

nav {
  position: fixed;
  margin: 0 auto;
  padding: 15px;
  top: 10px;
  left: 0;
  right: 0;
  z-index: 10;
}

.nav-link:hover {
  text-shadow: rgb(255, 233, 219) 1px 1px 1px;
}

nav .desktop-nav-menu {
  display: none;
}

@media only screen and (min-width: 767px) {
  nav .mobile-nav-icon {
    display: none;
  }

  nav .desktop-nav-menu {
    display: block;
    float: right;
    margin-right: 10px;
  }

  .nav-link {
    font-size: 18px;
    justify-content: center;
    padding: 10px;
    text-decoration: none;
    color: rgb(64, 64, 72);
  }
}

.mobile-nav-icon .top-bar,
.mobile-nav-icon .middle-bar,
.mobile-nav-icon .bottom-bar {
  width: 22px;
  height: 2px;
  background-color: #000;
  margin: 5px;
  -webkit-transition: -webkit-transform 0.1s 0s ease-in-out,
    top 0.1s 0.1s ease-in-out;
  -moz-transition: -moz-transform 0.1s 0s ease-in-out, top 0.1s 0.1s ease-in-out;
  -ms-transition: -ms-transform 0.1s 0s ease-in-out, top 0.1s 0.1s ease-in-out;
  -o-transition: -o-transform 0.1s 0s ease-in-out, top 0.1s 0.1s ease-in-out;
  transition: transform 0.1s 0s ease-in-out, top 0.1s 0.1s ease-in-out;
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}

.mobile-nav-icon {
  float: right;
}

.nav-overlay {
  background: rgba(249, 249, 250, 0.33);
}

.mobile-nav-menu {
  width: 161px;
  margin: 0 auto;
  padding: 10px;
}

.mobile-nav-menu ul.mobile-nav-links li {
  list-style-type: none;
  padding: 10px;
}

.mobile-nav-menu ul.mobile-nav-links li a {
  text-decoration: none;
  color: rgb(64, 64, 72);
  font-size: 1.5em;
}

.logo-wrapper .logo {
  display: none;
}

/* @media only screen and (min-width: 650px) {
   nav a {
  float: right;
  margin-right: 10px;
}
.hero h1 {
  font-size: 60px;
  font-weight: 900;
  position: fixed;
  top: -50px;
  margin-left: 10px;
}
} */
/* Hero */

header {
  margin: 0;
}

.hero {
  /* flex box */
  display: flex;
  /* sizing */
  height: 100vh;
  width: 100vw;
  /* hero image */
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("/assets/images/balloon.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  /* position: relative; */

  /* text styles */
  color: rgb(255, 233, 219);
  text-shadow: rgb(4, 31, 6) 4px 4px 4px;
}

.hero h1.responsive-logo {
  font-size: 50px;
  font-weight: 700;
  position: fixed;
  top: -45px;
  margin-left: 5px;
}

.hero h1.logo {
  display: none;
}
